.password-reset-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.password-reset-page-wrapper {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 25%;
  height: 30%;
  min-width: 300px;
  min-height: 280px;
  padding: 10px 60px;
  padding-top: 50px;
  border-radius: 4px;
}

.password-reset-header {
  text-align: center;
  font-size: 28px;
  margin-bottom: 40px;
  font-weight: bolder;
}

.password-reset-input {
  margin-bottom: 15px;
}

.ui.button.password-reset-button {
  margin: 4px 0;
  margin-top: 40px;
}

.password-reset-error {
  color: red
}